/**
 * IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT
 *
 * You should never commit this file to a public repository on GitHub!
 * All public code on GitHub can be searched, that means anyone can see your
 * uploaded secrets.js file.
 *
 * I did it for your convenience using "throw away" API keys and passwords so
 * that all features could work out of the box.
 *
 * Use config vars (environment variables) below for production API keys
 * and passwords. Each PaaS (e.g. Heroku, Nodejitsu, OpenShift, Azure) has a way
 * for you to set it up from the dashboard.
 *
 * Another added benefit of this approach is that you can use two different
 * sets of keys for local development and production mode without making any
 * changes to the code.

 * IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT
 */

module.exports = {

    sessionSecret: process.env.SESSION_SECRET || 'Your Session Secret goes here',

    mailgun: {
        user: process.env.MAILGUN_USER || '',
        password: process.env.MAILGUN_PASSWORD || ''
    },

    mandrill: {
        user: process.env.MANDRILL_USER || '',
        password: process.env.MANDRILL_PASSWORD || ''
    },

    sendgrid: {
        user: process.env.SENDGRID_USER || '',
        password: process.env.SENDGRID_PASSWORD || ''
    },

    nyt: {
        key: process.env.NYT_KEY || ''
    },

    lastfm: {
        api_key: process.env.LASTFM_KEY || '',
        secret: process.env.LASTFM_SECRET || ''
    },

    facebook: {
        clientID: process.env.FACEBOOK_ID || '',
        clientSecret: process.env.FACEBOOK_SECRET || '',
        callbackURL: '/auth/facebook/callback',
        passReqToCallback: true
    },

    instagram: {
        clientID: process.env.INSTAGRAM_ID || '',
        clientSecret: process.env.INSTAGRAM_SECRET || '',
        callbackURL: '/auth/instagram/callback',
        passReqToCallback: true
    },

    github: {
        clientID: process.env.GITHUB_ID || '',
        clientSecret: process.env.GITHUB_SECRET || '',
        callbackURL: '/auth/github/callback',
        passReqToCallback: true
    },

    twitter: {
        consumerKey: process.env.TWITTER_KEY || '',
        consumerSecret: process.env.TWITTER_SECRET  || '',
        callbackURL: '/auth/twitter/callback',
        passReqToCallback: true
    },

    google: {
        clientID: process.env.GOOGLE_ID || '',
        clientSecret: process.env.GOOGLE_SECRET || '',
        callbackURL: '/auth/google/callback',
        passReqToCallback: true
    },

    linkedin: {
        clientID: process.env.LINKEDIN_ID || '',
        clientSecret: process.env.LINKEDIN_SECRET || '',
        callbackURL: process.env.LINKEDIN_CALLBACK_URL || '',
        scope: ['r_fullprofile', 'r_emailaddress', 'r_network'],
        passReqToCallback: true
    },

    steam: {
        apiKey: process.env.STEAM_KEY || ''
    },

    twilio: {
        sid: process.env.TWILIO_SID || '',
        token: process.env.TWILIO_TOKEN || ''
    },

    clockwork: {
        apiKey: process.env.CLOCKWORK_KEY || ''
    },

    stripe: {
        secretKey: process.env.STRIPE_SKEY || '',
        publishableKey: process.env.STRIPE_PKEY || ''
    },

    tumblr: {
        consumerKey: process.env.TUMBLR_KEY || '',
        consumerSecret: process.env.TUMBLR_SECRET || '',
        callbackURL: '/auth/tumblr/callback'
    },

    foursquare: {
        clientId: process.env.FOURSQUARE_ID || '',
        clientSecret: process.env.FOURSQUARE_SECRET || '',
        redirectUrl: process.env.FOURSQUARE_REDIRECT_URL || 'http://localhost:3000/auth/foursquare/callback'
    },

    venmo: {
        clientId: process.env.VENMO_ID || '',
        clientSecret: process.env.VENMO_SECRET || '',
        redirectUrl: process.env.VENMO_REDIRECT_URL || 'http://localhost:3000/auth/venmo/callback'
    },

    paypal: {
        host: 'api.sandbox.paypal.com',
        client_id: process.env.PAYPAL_ID || '-iPGc6BXaTppt',
        client_secret: process.env.PAYPAL_SECRET || '',
        returnUrl: process.env.PAYPAL_RETURN_URL || 'http://localhost:3000/api/paypal/success',
        cancelUrl: process.env.PAYPAL_CANCEL_URL || 'http://localhost:3000/api/paypal/cancel'
    },

    lob: {
        apiKey: process.env.LOB_KEY || ''
    },

    bitgo: {
        accessToken: process.env.BITGO_ACCESS_TOKEN || ''
    },

    bitcore: {
        bitcoinNetwork: process.env.BITCORE_BITCOIN_NETWORK || ''
    }

};